.friendrow {
    display: flex;
    overflow-x: scroll;
}

.friend {
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 12px;

    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
    }
}