.friendrow {
    display: flex;
    justify-content: space-around;
}

.friend {
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;

    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
    }
}